<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="CoreForms.Web" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="CoreForms.Web.Extensions" />
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="CoreForms.Web.Extensions"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls.Expressions" assembly="CoreForms.Web.Extensions" />
      </controls>
    </pages>

		<webControls clientScriptsLocation="/forms/aspnet_client/{0}/{1}/"/>

  </system.web>
</configuration>